<!-- <header class="ms-welcome__header ms-bgColor-neutralLighter ms-u-fadeIn500">
  <img width="90" height="90" src="../../assets/logo-filled.png" alt="translation-references" title="translation-references" />
  <h1 class="ms-fontSize-su ms-fontWeight-light ms-fontColor-neutralPrimary">{{welcomeMessage}}</h1>
</header> -->
<main class="turbo-ref-main" [class.pinned]="isPinned">
    <div #srcPane class="src-pane">
        <div>
            <button class="ms-Button pin" title="{{ isPinned ? 'Unpin' : 'Pin' }}" (click)="pin()">
                <i class="ms-Icon" [class.ms-Icon--Pin]="!isPinned" [class.ms-Icon--PinnedFill]="isPinned" aria-hidden="true"></i>
            </button>
        </div>
        <div *ngIf="currtxt" class="tr-srctxt" [innerHTML]="whitespaceRendered"></div>
        <div *ngIf="currtxt" class="tr-srctxt-cnt ms-font-xs ms-fontColor-neutralSecondary">{{ currtxt.length }} chars</div>
    </div>
    <div [style.marginTop]="refListMarginTop">
        <ng-container *ngIf="currtxt">
            <div *ngIf="refs$ | async as refs; else loading;">
                <ng-container *ngIf="(refs?.exact?.length || refs?.similar?.length); else noResult">
                    <div class="ref-list">
                        <ng-container *ngIf="refs.exact?.length">
                            <div class="ref-row ms-bgColor-neutralLight ms-fontColor-black">{{ refs.exact.length }} exact {{ refs.exact.length > 1 ? 'matches' : 'match' }}</div>
                            <div *ngFor="let ref of refs.exact; index as i" class="ref-row tr-exact-match">
                                <p class="trnsln ms-font-l" [innerHTML]="renderWhitespace(ref.t)"></p>
                                <p class="ms-font-xs ms-fontColor-neutralSecondary">{{ ref.n }} · {{ ref.t.length }} chars</p>
                                <div class="actions">
                                    <button *ngIf="!ref.isToBeAdopted && !ref.hasBeenAdopted" class="ms-Button" (click)="ref.isToBeAdopted = true">Adopt</button>
                                    <div *ngIf="ref.isToBeAdopted" class="adopt-confirm">
                                        <div class="prompt">Do you want to copy this to `{{currCellAddr}}`?</div>
                                        <button class="ms-Button" (click)="ref.isToBeAdopted = false; adopt(refs, 'exact', i)">Yes</button>
                                        <button class="ms-Button" (click)="ref.isToBeAdopted = false">No</button>
                                    </div>
                                </div>
                                <div *ngIf="ref.hasBeenAdopted">Adopted</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="refs.similar?.length">
                            <div class="ref-row enable-preview-container ms-bgColor-neutralLighter ms-fontColor-black">
                                <div>
                                    <span class="related-results-cnt">{{ refs.similar.length }} related {{ refs.similar.length > 1 ? 'results' : 'result' }}</span>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="isInPlainTextMode">
                                        <span>Plain text</span>
                                    </label>
                                </div>
                                <div *ngIf="refSetList?.length">
                                    <form #filterForm="ngForm">
                                        <fieldset>
                                            <legend>Filter</legend>
                                            <label *ngFor="let refset of refSetList" class="refset-filter-option">
                                                <input type="checkbox" name="{{ refset.name }}" ngModel (change)="filterBySet()">
                                                <span>{{ refset.name }}&nbsp;({{ refset.count }})</span>
                                            </label>
                                        </fieldset>
                                    </form>
                                    <!-- <div>{{ filterForm.value | json }}</div> -->
                                </div>
                            </div>
                            <div *ngFor="let ref of refs.similar" class="ref-row">
                                <ng-container *ngIf="isInPlainTextMode; else previewMode">
                                    <div class="ref-text" [innerHTML]="highlightSimilar(escapeHtml(ref.s))"></div>
                                    <div class="ref-text">{{ ref.t }}</div>
                                </ng-container>
                                <ng-template #previewMode>
                                    <div class="ref-text" [innerHTML]="highlightSimilar(ref.s)"></div>
                                    <div class="ref-text" [innerHTML]="ref.t"></div>
                                </ng-template>
                                <p class="ms-font-xs ms-fontColor-neutralSecondary">{{ ref.n }} · {{ ref.s.length }}, {{ ref.t.length }} chars</p>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-template #noResult>
                    <div class="sign" style="color: #d83b01;">
                        <i class="ms-Icon ms-Icon--EmojiNeutral" aria-hidden="true" style="vertical-align: middle; margin-right: 8px;"></i>
                        <span style="vertical-align: middle;">Nothing to show</span>
                    </div>
                </ng-template>
            </div>
            <ng-template #loading>
                <div class="sign">
                    <app-spinner label="Please wait..."></app-spinner>
                </div>
            </ng-template>
        </ng-container>
    </div>
</main>
<!-- <main class="ms-welcome__main">
  <h2 class="ms-font-xl ms-fontWeight-semilight ms-fontColor-neutralPrimary ms-u-slideUpIn20"> Discover what translation-references can do for you today! </h2>
  <ul class="ms-List ms-welcome__features ms-u-slideUpIn10">
      <li class="ms-ListItem">
          <i class="ms-Icon ms-Icon--Ribbon"></i>
          <span class="ms-font-m ms-fontColor-neutralPrimary">Achieve more with Office integration</span>
      </li>
      <li class="ms-ListItem">
          <i class="ms-Icon ms-Icon--Unlock"></i>
          <span class="ms-font-m ms-fontColor-neutralPrimary">Unlock features and functionality</span>
      </li>
      <li class="ms-ListItem">
          <i class="ms-Icon ms-Icon--Design"></i>
          <span class="ms-font-m ms-fontColor-neutralPrimary">Create and visualize like a pro</span>
      </li>
  </ul>
  <br />
  <br />
  <p class="ms-font-l">Modify the source files, then click <b>Run</b>.</p>
  <div role="button" class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20">
      <span class="ms-Button-label">Run</span>
      <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--ChevronRight"></i></span>
  </div>
</main> -->
